<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/ieee.css'%}">
    <link rel="stylesheet" href="{% static 'css/LoginPage.css'%}">

  </head>
  <body>
    <div id='logo'>
    </div>
    <div id='back'>

    </div>
    <div id="imp">
      <h1>Maulana Azad National Institute Of Technology<span id='small'><br>IEEE</span></h1>
    </div>
    <div id='bground'>

    </div>
    <div id='link'>
      <a href="/ieee/login-page/">Login</a>
      <a href="/ieee/signup-page/">Create Account</a>
    </div>

    <div id='main'>
      <form method="post">
        {% csrf_token %}
        <table>
          <tr>
            <label  id='username' for="username">Username</label>
            <input type="text" name="Username"><br><br>
          </tr>
          <tr>
            <label id='password' for="password">Password</label>
            <input type="password" name="password"><br><br>
          <tr>
            <input type="submit" name="login" value="Login" id='login'><br>
          </tr>
        </table>
      </form>
      {{error}}
    </div>
  </body>
</html>
